<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magelearn_Slider::menu" title="Banner Slider" sortOrder="99">
                        <resource id="Magelearn_Slider::slider" title="Manage sliders" sortOrder="0">
                            <resource id="Magelearn_Slider::slide" title="Manage slides" sortOrder="0" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magelearn_Slider::config" title="Slider" sortOrder="99" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>