<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magelearn_slider>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <display_settings>
            	<accessibility>1</accessibility>
                <autoplay>1</autoplay>
                <autoplay_speed>5000</autoplay_speed>
                <speed>300</speed>
                <css_ease>ease</css_ease>
                <pause_on_focus>0</pause_on_focus>
                <pause_on_hover>1</pause_on_hover>
                <pause_on_dots_hover>0</pause_on_dots_hover>
                <slides_to_show>1</slides_to_show>
                <slides_to_scroll>1</slides_to_scroll>
                <show_arrows></show_arrows>
                <show_dots>1</show_dots>
                <infinite_loop>1</infinite_loop>
                <lazy_load>ondemand</lazy_load>
            </display_settings>
        </magelearn_slider>
    </default>
</config>
